<h1>Posts#edit</h1>
<p>Find me in app/views/posts/edit.html.erb</p>

<h3></h3>

<%= simple_form_for @post do |p| %>



  <%= p.input :content  %>
  <%= p.submit "Subimt", class: "btn btn-primary"  %>


<% end %>


